//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        c1 {
            bindings = <&kp LBKT>;
            key-positions = <3 2>;
            timeout-ms = <20>;
        };

        c2 {
            bindings = <&kp RBKT>;
            key-positions = <6 7>;
            timeout-ms = <20>;
        };

        c3 {
            bindings = <&kp LPAR>;
            key-positions = <13 12>;
            timeout-ms = <20>;
        };

        c4 {
            bindings = <&kp RPAR>;
            key-positions = <16 17>;
            timeout-ms = <20>;
        };

        c5 {
            bindings = <&kp LBRC>;
            key-positions = <24 23>;
            timeout-ms = <20>;
        };

        c6 {
            bindings = <&kp RBRC>;
            key-positions = <27 28>;
            timeout-ms = <20>;
        };

        c7 {
            bindings = <&kp BSLH>;
            key-positions = <4 5>;
            timeout-ms = <20>;
        };

        c8 {
            bindings = <&kp PIPE>;
            key-positions = <14 15>;
            timeout-ms = <20>;
        };

        c9 {
            bindings = <&kp TAB>;
            key-positions = <18 19>;
            timeout-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
           &kp Q       &kp W       &kp E        &kp R        &kp T            &kp Y      &kp U        &kp I        &kp O       &kp P
           &mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &kp G            &kp H      &mt RSHFT J  &mt RCTRL K  &mt RALT L  &mt RGUI SEMICOLON
&kp LCTRL  &kp Z       &kp X       &kp C        &kp V        &kp B            &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH            &kp ENTER
                                   &lt 4 ESC    &lt 2 SPACE  &kp BACKSPACE    &lt 3 DEL  &lt 1 ENTER  &kp TAB
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        sym_layer {
            bindings = <
        &trans    &trans    &kp LS(DQT)   &kp APOS      &trans           &trans        &kp LS(AMPS)  &kp LS(STAR)   &kp LS(TILDE)  &trans
        &kp LBKT  &kp RBKT  &kp LS(LBRC)  &kp LS(RBRC)  &kp BSLH         &kp EQUAL     &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &kp GRAVE
&trans  &trans    &trans    &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(PIPE)     &kp LS(PLUS)  &kp LS(EXCL)  &kp LS(AT)     &kp LS(POUND)  &kp LS(TILDE)  &trans
                            &trans        &kp MINUS     &kp LS(MINUS)    &trans        &trans        &trans
            >;

            label = "SYM";
        };

        nav_layer {
            bindings = <
        &trans    &trans    &trans    &trans     &trans    &trans    &trans     &trans     &trans     &trans
        &kp LGUI  &kp LALT  &kp LALT  &kp LSHFT  &trans    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans  &trans    &trans    &trans    &trans     &trans    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp INSERT  &trans
                            &trans    &trans     &trans    &trans    &trans     &trans
            >;

            label = "NAVI";
        };

        function_layer {
            bindings = <
        &kp SCROLLLOCK   &kp F7  &kp F8  &kp F9  &kp F11    &trans  &trans          &trans     &trans        &trans
        &kp PRINTSCREEN  &kp F4  &kp F5  &kp F6  &kp F10    &trans  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LGUI
&trans  &kp PAUSE_BREAK  &kp F1  &kp F2  &kp F3  &kp F12    &trans  &trans          &trans     &trans        &trans    &trans
                                 &trans  &trans  &trans     &trans  &trans          &trans
            >;

            label = "FUNC";
        };

        number_layer {
            bindings = <
        &trans  &kp N7  &kp N8  &kp N9  &trans          &kp FSLH        &kp N7           &kp N8           &kp N9  &kp PLUS
        &trans  &kp N4  &kp N5  &kp N6  &kp NUMBER_0    &kp STAR        &kp N4           &kp N5           &kp N6  &kp KP_COMMA
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans          &kp MINUS       &kp N1           &kp N2           &kp N3  &kp KP_EQUAL  &trans
                        &trans  &trans  &trans          &kp KP_NUMLOCK  &kp KP_NUMBER_0  &kp KP_NUMBER_0
            >;

            label = "NUM";
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    };
};
